<div class="relative w-full text-center z-40">
    <div class="w-full h-0.5 bg-marsorange-accent absolute top-0 right-0 left-0"></div>

    <span
        class="
            bg-marsorange-accent
            uppercase
            text-white text-caption
            py-1
            px-2
            rounded-b-lg
            top-0
            inline-flex
            items-center
        "
    >
        <nwn-svg-icon class="mr-1" nwnSvgIcon="clock" size="sm"></nwn-svg-icon>
        <ng-content class="uppercase"></ng-content>
    </span>
</div>
