<div class="w-[650px]">
    <nwn-command-header type="stroke" nwnSvgIcon="strategic-cells">Filter by strategic cells</nwn-command-header>
    <nwn-command-search [hideClose]="true"></nwn-command-search>
    <div class="scrollbar-y h-[288px]">
        <nwn-command-multiselect [leftBorder]="false" [hideClose]="true">Candy bar</nwn-command-multiselect>
        <nwn-command-multiselect [leftBorder]="false" [hideClose]="true">Candy bar</nwn-command-multiselect>
        <nwn-command-multiselect [leftBorder]="false" [hideClose]="true">Candy bar</nwn-command-multiselect>
        <nwn-command-multiselect [leftBorder]="false" [hideClose]="true">Candy bar</nwn-command-multiselect>
        <nwn-command-multiselect [leftBorder]="false" [hideClose]="true">Candy bar</nwn-command-multiselect>
        <nwn-command-multiselect [leftBorder]="false" [hideClose]="true">Candy bar</nwn-command-multiselect>
        <nwn-command-multiselect [leftBorder]="false" [hideClose]="true">Candy bar</nwn-command-multiselect>
        <nwn-command-multiselect [leftBorder]="false" [hideClose]="true">Candy bar</nwn-command-multiselect>
    </div>
    <nwn-search-footer [hideApply]="false" [hideBack]="true" [hideLoad]="true"></nwn-search-footer>
</div>
