<div class="bg-marsgray-100 px-12">
    <div class="flex flex-row items-center justify-between border-b border-gray-300 py-2">
        <div class="flex flex-row flex-wrap content-start items-center justify-start">
            <div class="mr-2 mb-2">
                <nwn-filter-item
                    type="stroke"
                    nwnSvgIcon="retailers"
                    [hideClose]="true"
                    (click)="sendMessage('filter-retailer')"
                    >223 retailers</nwn-filter-item
                >
            </div>
            <div class="mr-2 mb-2">
                <nwn-filter-item
                    type="stroke"
                    nwnSvgIcon="categories"
                    [hideClose]="true"
                    (click)="sendMessage('filter-categories')"
                    >223 categories</nwn-filter-item
                >
            </div>
            <div class="mr-2 mb-2">
                <nwn-filter-item
                    type="stroke"
                    nwnSvgIcon="strategic-cells"
                    [hideClose]="true"
                    (click)="sendMessage('filter-stragetic-cells')"
                    >223 strategic cells</nwn-filter-item
                >
            </div>
            <div class="mr-2 mb-2">
                <nwn-filter-item
                    type="stroke"
                    nwnSvgIcon="brands"
                    [hideClose]="true"
                    (click)="sendMessage('filter-brands')"
                    >223 brands</nwn-filter-item
                >
            </div>
            <div class="mr-2 mb-2">
                <nwn-filter-item
                    type="stroke"
                    nwnSvgIcon="brand-formats"
                    [hideClose]="true"
                    (click)="sendMessage('filter-brand-formats')"
                    >223 brand formats</nwn-filter-item
                >
            </div>
            <div class="mr-2 mb-2">
                <nwn-filter-item
                    type="stroke"
                    nwnSvgIcon="product-groups"
                    [hideClose]="true"
                    (click)="sendMessage('filter-product-groups')"
                    >232 product groups</nwn-filter-item
                >
            </div>
        </div>
        <div>
            <nwn-loaded-scenarioitem></nwn-loaded-scenarioitem>
        </div>
    </div>
    <!-- <div class="flex flex-col">
        <nwn-loaded-scenario-expand></nwn-loaded-scenario-expand>
    </div> -->
    <div class="flex flex-col">
        <div class="flex flex-col border-b border-gray-300">
            <div class="flex flex-row flex-wrap items-center border-b border-marsgray-300">
                <div class="mr-2">
                    <nwn-metric-item nwnMetricItem="defaultRight" [showRightValue]="false">
                        <p rightHeadValue>Maximize MAC</p>
                        <p rightMetricContent>Objective function</p>
                    </nwn-metric-item>
                </div>
                <div class="mr-2">
                    <nwn-metric-item nwnMetricItem="defaultTop">
                        <p topValue>5</p>
                        <p topHeadValue>3 - 7</p>
                        <p topMetricContent>Number of waves</p>
                    </nwn-metric-item>
                </div>
                <div class="mr-2">
                    <nwn-metric-item nwnMetricItem="defaultTop">
                        <p topValue>5</p>
                        <p topHeadValue>3 - 7</p>
                        <p topMetricContent>Duration of waves</p>
                    </nwn-metric-item>
                </div>
                <div class="mr-2">
                    <nwn-metric-item nwnMetricItem="defaultTop">
                        <p topValue>5</p>
                        <p topHeadValue>3 - 7</p>
                        <p topMetricContent>Minimum gap</p>
                    </nwn-metric-item>
                </div>
            </div>
            <div class="flex flex-row flex-wrap items-center">
                <div class="mr-2">
                    <nwn-metric-item nwnMetricItem="defaultTop">
                        <p topValue>25</p>
                        <p topHeadValue>20 - 30</p>
                        <p topMetricContent>Number of weeks</p>
                    </nwn-metric-item>
                </div>
                <div class="mr-2">
                    <nwn-metric-item nwnMetricItem="defaultTop">
                        <p topValue>5</p>
                        <p topHeadValue>7</p>
                        <p topMetricContent>Compulsory week</p>
                    </nwn-metric-item>
                </div>
                <div class="mr-2">
                    <nwn-metric-item nwnMetricItem="defaultTop">
                        <p topValue>5</p>
                        <p topHeadValue>6</p>
                        <p topMetricContent>Ignored weeks</p>
                    </nwn-metric-item>
                </div>
                <div class="mr-2">
                    <nwn-metric-item nwnMetricItem="multipleValues">
                        <div multipleValue class="flex flex-row">
                            <p>TPR-10% (Co-12%), 15% ,20%</p>
                            <p>N+1-10% (Co-10%)</p>
                            <p>N+1-10%, 20%, 32%</p>
                            <p>N+3-10%</p>
                        </div>
                        <div multipleHeadValue class="flex flex-row">
                            <p>TPR - 10%,15% (Co-10%)</p>
                            <p>N+1-10%</p>
                            <p>N+2-10%, 20%, 30%</p>
                        </div>
                        <p multipleMetricContent>Promotions</p>
                    </nwn-metric-item>
                </div>
            </div>
        </div>
        <div class="flex flex-row items-center justify-between space-x-2 border-b border-gray-300">
            <div class="flex flex-row flex-wrap items-center justify-start">
                <div class="">
                    <nwn-metric-item nwnMetricItem="checkboxMetric" [showDrad]="false">
                        <p checkHeadValue>x1.00</p>
                        <label checkboxLabel class="-m-1">MAC</label>
                    </nwn-metric-item>
                </div>
                <div class="">
                    <nwn-metric-item nwnMetricItem="checkboxMetric" [showDrad]="false">
                        <p checkHeadValue>x1.00</p>
                        <label checkboxLabel class="-m-1">Retailer profit</label>
                    </nwn-metric-item>
                </div>
                <div class="">
                    <nwn-metric-item nwnMetricItem="checkboxMetric" [showDrad]="false">
                        <p checkHeadValue>-10%</p>
                        <label checkboxLabel class="-m-1">Trade expense</label>
                    </nwn-metric-item>
                </div>
                <div class="">
                    <nwn-metric-item nwnMetricItem="checkboxMetric" [showDrad]="false">
                        <p checkHeadValue>x1.00</p>
                        <label checkboxLabel class="-m-1">MAC, % NSV</label>
                    </nwn-metric-item>
                </div>
                <div class="">
                    <nwn-metric-item nwnMetricItem="checkboxMetric" [showDrad]="false">
                        <p checkHeadValue>x1.00</p>
                        <label checkboxLabel class="-m-1">RP, % RSV</label>
                    </nwn-metric-item>
                </div>
            </div>
            <div class="flex flex-row flex-wrap items-center">
                <div class="flex flex-row items-center p-2">
                    <div class="bg-marsgray-700 w-5 h-5 mr-2"></div>
                    <p class="text-body text-marsgray-500">Input metric</p>
                </div>
                <div class="flex flex-row items-center p-2">
                    <div class="bg-marsyellow-800 w-5 h-5 mr-2"></div>
                    <p class="text-body text-marsgray-500">Baseline metric</p>
                </div>
            </div>
        </div>
    </div>
    <!-- <nwn-loaded-scenario-controls ></nwn-loaded-scenario-controls> -->
    <div class="flex flex-row w-full justify-between space-x-2 bg-marsgray-100 py-2">
        <div class="flex flex-row space-x-2 items-center">
            <div class="">
                <nwn-button type="icon" size="iconsm">
                    <nwn-svg-icon type="stroke" nwnSvgIcon="lightning-bolt"></nwn-svg-icon>
                </nwn-button>
            </div>
        </div>
        <div class="flex flex-row">
            <div class="flex flex-row space-x-4 items-center">
                <nwn-button type="link" size="sm"> Reset </nwn-button>
                <nwn-button type="primary" size="sm"> Optimize </nwn-button>
                <nwn-button type="icon" size="iconsm">
                    <nwn-svg-icon type="stroke" nwnSvgIcon="save"></nwn-svg-icon>
                </nwn-button>
                <nwn-button type="icon" size="iconsm">
                    <nwn-svg-icon type="stroke" nwnSvgIcon="save-download"></nwn-svg-icon>
                </nwn-button>
                <div class="relative">
                    <nwn-button type="icon" size="iconsm" (click)="toggleDisplayDivIf()">
                        <nwn-svg-icon type="stroke" nwnSvgIcon="more-horizontal"></nwn-svg-icon>
                    </nwn-button>
                    <div *ngIf="!isShowDivIf">
                        <div class="absolute z-50 top-10 right-0 bg-white shadow-sm w-[186px] h-auto">
                            <div class="border-b">
                                <nwn-button
                                    type="sideBorder"
                                    size="sideBorderSize"
                                    class="w-full"
                                    (click)="sendMessage('load-scenario-promosimulator')"
                                >
                                    <nwn-svg-icon
                                        class="mr-0.5"
                                        type="stroke"
                                        nwnSvgIcon="plus"
                                        size="lg"
                                    ></nwn-svg-icon>
                                    Load scenario
                                </nwn-button>
                            </div>
                            <div class="">
                                <nwn-button
                                    type="sideBorder"
                                    size="sideBorderSize"
                                    class="w-full"
                                    (click)="sendMessage('compare-promo-scenario')"
                                >
                                    <nwn-svg-icon
                                        class="mr-0.5"
                                        type="stroke"
                                        nwnSvgIcon="arrow-compare"
                                        size="lg"
                                    ></nwn-svg-icon>
                                    Compare scenario
                                </nwn-button>
                            </div>
                        </div>
                        <div
                            class="fixed bg-marsgray-900 bg-opacity-0 top-0 left-0 right-0 h-full w-full"
                            (click)="toggleDisplayDivIf()"
                        ></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
