<div class="bg-marsgray-100 px-12">
    <div class="flex flex-row items-center justify-between border-b border-gray-300 py-2">
        <div class="flex flex-row flex-wrap content-start items-center justify-start">
            <div class="mr-2 mb-2">
                <nwn-filter-item
                    type="stroke"
                    nwnSvgIcon="retailers"
                    [hideClose]="true"
                    (click)="sendMessage('filter-retailer')"
                    >223 retailers</nwn-filter-item
                >
            </div>
            <div class="mr-2 mb-2">
                <nwn-filter-item
                    type="stroke"
                    nwnSvgIcon="categories"
                    [hideClose]="true"
                    (click)="sendMessage('filter-categories')"
                    >223 categories</nwn-filter-item
                >
            </div>
            <div class="mr-2 mb-2">
                <nwn-filter-item
                    type="stroke"
                    nwnSvgIcon="strategic-cells"
                    [hideClose]="true"
                    (click)="sendMessage('filter-stragetic-cells')"
                    >Strategic Cells</nwn-filter-item
                >
            </div>
            <div class="mr-2 mb-2">
                <nwn-filter-item
                    type="stroke"
                    nwnSvgIcon="brands"
                    [hideClose]="true"
                    (click)="sendMessage('filter-brands')"
                    >Brands</nwn-filter-item
                >
            </div>
            <div class="mr-2 mb-2">
                <nwn-filter-item
                    type="stroke"
                    nwnSvgIcon="brand-formats"
                    [hideClose]="true"
                    (click)="sendMessage('filter-brand-formats')"
                    >Brand Formats</nwn-filter-item
                >
            </div>
            <div class="mr-2 mb-2">
                <nwn-filter-item
                    type="stroke"
                    nwnSvgIcon="product-groups"
                    [hideClose]="true"
                    (click)="sendMessage('filter-product-groups')"
                    >Product Groups</nwn-filter-item
                >
            </div>
        </div>
        <div>
            <nwn-loaded-scenarioitem></nwn-loaded-scenarioitem>
        </div>
    </div>
    <!-- <div class="flex flex-col">
        <nwn-loaded-scenario-expand></nwn-loaded-scenario-expand>
    </div> -->
    <div id="close-expand-header" class="flex flex-col translate-x-1" *ngIf="!isExpand">
        <div class="flex flex-col border-b border-gray-300">
            <div class="flex flex-row flex-wrap items-center border-b border-marsgray-300">
                <div class="mr-2">
                    <nwn-metric-item nwnMetricItem="defaultRight" [showRightValue]="false" (click)="sendMessage('objective-function')">
                        <p rightHeadValue>Maximize MAC</p>
                        <p rightMetricContent>Objective function</p>
                    </nwn-metric-item>
                </div>
                <div class="mr-2">
                    <nwn-metric-item nwnMetricItem="defaultTop" (click)="sendMessage('number-promo-waves')">
                        <p topValue>5</p>
                        <p topHeadValue>3 - 7</p>
                        <p topMetricContent>Number of waves</p>
                    </nwn-metric-item>
                </div>
                <div class="mr-2">
                    <nwn-metric-item nwnMetricItem="defaultTop" (click)="sendMessage('duration-of-waves')">
                        <p topValue>5</p>
                        <p topHeadValue>3 - 7</p>
                        <p topMetricContent>Duration of waves</p>
                    </nwn-metric-item>
                </div>
                <div class="mr-2">
                    <nwn-metric-item nwnMetricItem="defaultTop" (click)="sendMessage('minimum-gap-waves')">
                        <p topValue>5</p>
                        <p topHeadValue>3 - 7</p>
                        <p topMetricContent>Minimum gap</p>
                    </nwn-metric-item>
                </div>
            </div>
            <div class="flex flex-row flex-wrap items-center">
                <div class="mr-2">
                    <nwn-metric-item nwnMetricItem="defaultTop" (click)="sendMessage('number-promo-waves')">
                        <p topValue>25</p>
                        <p topHeadValue>20 - 30</p>
                        <p topMetricContent>Number of weeks</p>
                    </nwn-metric-item>
                </div>
                <div class="mr-2">
                    <nwn-metric-item nwnMetricItem="defaultTop" (click)="sendMessage('compulsory-weeks-popup')">
                        <p topValue>5</p>
                        <p topHeadValue>7</p>
                        <p topMetricContent>Compulsory week</p>
                    </nwn-metric-item>
                </div>
                <div class="mr-2">
                    <nwn-metric-item nwnMetricItem="defaultTop" (click)="sendMessage('weeks-ignored')">
                        <p topValue>5</p>
                        <p topHeadValue>6</p>
                        <p topMetricContent>Ignored weeks</p>
                    </nwn-metric-item>
                </div>
                <div class="mr-2">
                    <nwn-metric-item nwnMetricItem="multipleValues" (click)="sendMessage('promotion-details')">
                        <div multipleValue class="flex flex-row">
                            <p>TPR-10% (Co-12%), 15% ,20%</p>
                            <p>N+1-10% (Co-10%)</p>
                            <p>N+1-10%, 20%, 32%</p>
                            <p>N+3-10%</p>
                        </div>
                        <div multipleHeadValue class="flex flex-row">
                            <p>TPR - 10%,15% (Co-10%)</p>
                            <p>N+1-10%</p>
                            <p>N+2-10%, 20%, 30%</p>
                        </div>
                        <p multipleMetricContent>Promotions</p>
                    </nwn-metric-item>
                </div>
            </div>
        </div>
        <div class="flex flex-row items-center justify-between space-x-2 border-b border-gray-300">
            <div
                cdkDropList
                cdkDropListOrientation="horizontal"
                class="checkbox-metric-list flex flex-row flex-wrap items-center justify-start"
                (cdkDropListDropped)="drop($event)"
            >
                <div
                    class="checkbox-metric-item"
                    *ngFor="let checkboxMetric of checkboxMetrices; let i = index"
                    cdkDrag
                    [cdkDragDisabled]="checkboxMetric.disabled"
                >
                    <nwn-metric-item
                        (click)="sendMessage('mac-popup')"
                        nwnMetricItem="checkboxMetric"
                        [disabled]="checkboxMetric.disabled"
                        [checkboxValue]="!checkboxMetric.disabled"
                        (toggle)="onRoleChangeCheckbox($event, i)"
                    >
                        <p checkHeadValue>{{ checkboxMetric.checkHeadValue }}</p>
                        <label checkboxLabel class="-m-1">{{ checkboxMetric.checkboxLabel }}</label>
                    </nwn-metric-item>
                </div>
            </div>
            <div class="flex flex-row flex-wrap items-center">
                <div class="flex flex-row items-center p-2">
                    <div class="bg-marsgray-700 w-5 h-5 mr-2"></div>
                    <p class="text-body text-marsgray-500">Input metric</p>
                </div>
                <div class="flex flex-row items-center p-2">
                    <div class="bg-marsyellow-800 w-5 h-5 mr-2"></div>
                    <p class="text-body text-marsgray-500">Base metric</p>
                </div>
            </div>
        </div>
    </div>
    <!-- <nwn-loaded-scenario-controls ></nwn-loaded-scenario-controls> -->
    <div class="flex flex-row w-full justify-between space-x-2 bg-marsgray-100 py-2">
        <div class="flex flex-row space-x-2 items-center">
            <div class="">
                <nwn-button
                    type="icon"
                    size="iconsm"
                    [showTooltip]="true"
                    (click)="sendMessage('promo-scenariobuilder-popup')"
                >
                    <nwn-svg-icon type="stroke" nwnSvgIcon="lightning-bolt"></nwn-svg-icon>
                    <p tooltipContent>Command interface</p>
                </nwn-button>
            </div>
        </div>
        <div class="flex flex-row">
            <div class="flex flex-row space-x-4 items-center">
                <nwn-button type="link" size="sm" (click)="sendMessage('OptimizerFilterReset')"> Reset </nwn-button>
                <nwn-button type="primary" size="sm" (click)="sendMessage('Optimize')"> Optimize </nwn-button>
                <nwn-button type="icon" size="iconsm" [showTooltip]="true">
                    <nwn-svg-icon type="stroke" nwnSvgIcon="save"></nwn-svg-icon>
                    <p tooltipContent>Save scenario</p>
                </nwn-button>
                <nwn-button type="icon" size="iconsm" [showTooltip]="true">
                    <nwn-svg-icon type="stroke" nwnSvgIcon="save-download"></nwn-svg-icon>
                    <p tooltipContent>Download scenario</p>
                </nwn-button>
                <div class="relative">
                    <nwn-button type="icon" size="iconsm" (click)="toggleDisplayDivIf()" [showTooltip]="true">
                        <nwn-svg-icon type="stroke" nwnSvgIcon="more-horizontal"></nwn-svg-icon>
                        <p tooltipContent>More actions</p>
                    </nwn-button>
                    <div *ngIf="!isShowDivIf">
                        <div class="absolute z-50 top-10 right-0 bg-white shadow-sm w-[186px] h-auto">
                            <div class="border-b">
                                <nwn-button
                                    type="sideBorder"
                                    size="sideBorderSize"
                                    class="w-full"
                                    (click)="sendMessage('load-scenario-promosimulator')"
                                >
                                    <nwn-svg-icon
                                        class="mr-0.5"
                                        type="stroke"
                                        nwnSvgIcon="plus"
                                        size="lg"
                                    ></nwn-svg-icon>
                                    Load scenario
                                </nwn-button>
                            </div>
                            <div class="">
                                <nwn-button
                                    type="sideBorder"
                                    size="sideBorderSize"
                                    class="w-full"
                                    (click)="sendMessage('compare-promo-scenario')"
                                >
                                    <nwn-svg-icon
                                        class="mr-0.5"
                                        type="stroke"
                                        nwnSvgIcon="arrow-compare"
                                        size="lg"
                                    ></nwn-svg-icon>
                                    Compare scenario
                                </nwn-button>
                            </div>
                        </div>
                        <div
                            class="fixed bg-marsgray-900 bg-opacity-0 top-0 left-0 right-0 h-full w-full"
                            (click)="toggleDisplayDivIf()"
                        ></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="isExpand">
    <nwn-status-bar nwnStatusBar="viewmore" (click)="expandHeader()">View More</nwn-status-bar>
</div>
<div *ngIf="!isExpand">
    <nwn-status-bar nwnStatusBar="viewless" (click)="expandHeader()">View Less</nwn-status-bar>
</div>
