<div class="w-[650px]">
    <div class="border-b border-marsgray-200">
        <nwn-command-header type="fill" nwnSvgIcon="simulator">Promo Scenario Builder</nwn-command-header>
    </div>
    <div class="border-b border-marsgray-200">
        <nwn-command-search [hideClose]="true"></nwn-command-search>
    </div>
    <div>
        <nwn-command-iconitem type="stroke" nwnSvgIcon="filter" [hideTick]="true">Set filter</nwn-command-iconitem>
        <nwn-command-iconitem type="stroke" nwnSvgIcon="plus" [hideTick]="true">Add new promotion</nwn-command-iconitem>
        <nwn-command-iconitem type="stroke" nwnSvgIcon="variables" [hideTick]="true"
            >Set promo elasticity</nwn-command-iconitem
        >
        <nwn-command-iconitem type="stroke" nwnSvgIcon="plus" [hideTick]="true">Load scenario</nwn-command-iconitem>
    </div>
    <nwn-search-footer [showKeyBoardCtrl]="true"></nwn-search-footer>
</div>
