<div class="w-[650px] bg-white mx-auto my-6">
    <div class="border-b border-marsgray-200">
        <nwn-command-header type="stroke" nwnSvgIcon="filter">Filter</nwn-command-header>
    </div>
    <div class="border-b border-marsgray-200">
        <nwn-command-search [hideClose]="true"></nwn-command-search>
    </div>
    <div>
        <nwn-command-iconitem type="stroke" nwnSvgIcon="retailers" [hideTick]="true"
            >Filter by retailer</nwn-command-iconitem
        >
        <nwn-command-iconitem type="stroke" nwnSvgIcon="categories" [hideTick]="true"
            >Filter by category</nwn-command-iconitem
        >
        <nwn-command-iconitem type="stroke" nwnSvgIcon="strategic-cells" [hideTick]="true"
            >Filter by strategic cell</nwn-command-iconitem
        >
        <nwn-command-iconitem type="stroke" nwnSvgIcon="brands" [hideTick]="true">Filter by brand</nwn-command-iconitem>
        <nwn-command-iconitem type="stroke" nwnSvgIcon="brand-formats" [hideTick]="true"
            >Filter by brand format</nwn-command-iconitem
        >
        <nwn-command-iconitem type="stroke" nwnSvgIcon="product-groups" [hideTick]="true"
            >Filter by product group</nwn-command-iconitem
        >
    </div>
    <nwn-search-footer [showKeyBoardCtrl]="true"></nwn-search-footer>
</div>
