<nwn-loaded-scenario-header (modalEvent)="receiveMessage($event)"></nwn-loaded-scenario-header>
<nwn-status-bar>YET TO BE SIMULATED</nwn-status-bar>
<div>
    <nwn-promosimulator-builder-aggregated></nwn-promosimulator-builder-aggregated>
</div>

<!-- Modals -->
<!-- Filter Retailer -->
<nwn-modal id="filter-retailer" class="hidden">
    <nwn-filter-retailer></nwn-filter-retailer>
</nwn-modal>
<!-- Filter Category -->
<nwn-modal id="filter-categories" class="hidden">
    <nwn-filter-categories></nwn-filter-categories>
</nwn-modal>
<!-- Filter Strategic Cell -->
<nwn-modal id="filter-stragetic-cells" class="hidden">
    <nwn-filter-stragetic-cells></nwn-filter-stragetic-cells>
</nwn-modal>
<!-- Filter Brands -->
<nwn-modal id="filter-brands" class="hidden">
    <nwn-filter-brands></nwn-filter-brands>
</nwn-modal>
<!-- Filter Brand Formats -->
<nwn-modal id="filter-brand-formats" class="hidden">
    <nwn-filter-brands-formats></nwn-filter-brands-formats>
</nwn-modal>
<!-- Filter Product Groups -->
<nwn-modal id="filter-product-groups" class="hidden">
    <nwn-filter-product-groups></nwn-filter-product-groups>
</nwn-modal>
<!-- Add Promotions -->
<nwn-modal id="add-promotion" class="hidden">
    <nwn-add-promotion></nwn-add-promotion>
</nwn-modal>
<!-- upload weekly promotions -->
<nwn-modal id="upload-weekly-promotions" class="hidden">
    <nwn-upload-weekly-promotions></nwn-upload-weekly-promotions>
</nwn-modal>
<!-- compare scenario -->
<nwn-modal id="compare-scenario-popup" class="hidden">
    <nwn-compare-scenario-popup></nwn-compare-scenario-popup>
</nwn-modal>
<!-- compare-promo-scenario -->
<nwn-modal id="compare-promo-scenario" class="hidden">
    <nwn-compare-promo-scenario></nwn-compare-promo-scenario>
</nwn-modal>
<!-- load scenario promosimulator -->
<nwn-modal id="load-scenario-promosimulator" class="hidden">
    <nwn-load-scenario-promosimulator></nwn-load-scenario-promosimulator>
</nwn-modal>
<!-- pricing scenario -->
<nwn-modal id="pricing-scenario" class="hidden">
    <nwn-pricing-scenario></nwn-pricing-scenario>
</nwn-modal>
<!-- promo scenariobuilder popup -->
<nwn-modal id="promo-scenariobuilder-popup" class="hidden">
    <nwn-promo-scenariobuilder-popup></nwn-promo-scenariobuilder-popup>
</nwn-modal>
<!-- loaded-promosimulator-scenario -->
<nwn-modal id="loaded-promosimulator-scenario" class="hidden">
    <nwn-loaded-promosimulator-scenario></nwn-loaded-promosimulator-scenario>
</nwn-modal>
