<div class="w-[650px]">
    <div class="border-b border-marsgray-200">
        <nwn-command-header type="stroke" nwnSvgIcon="save">Save scenario</nwn-command-header>
    </div>
    <div class="border-b border-marsgray-200 px-6 py-2 space-y-4 bg-white">
        <div>
            <nwn-text-input nwnTextInput="text" placeholder="Scenario name" [error]="true"
                ><p label>Scenario name</p></nwn-text-input
            >
        </div>
        <div>
            <nwn-text-input nwnTextInput="textarea" placeholder="Description"
                ><p labeltextarea>Scenario description</p></nwn-text-input
            >
        </div>
    </div>
    <nwn-search-footer [showSaved]="true"></nwn-search-footer>
</div>
