<div class="w-[650px] bg-white mx-auto my-6">
    <div class="border-b border-marsgray-200">
        <nwn-command-header type="fill" nwnSvgIcon="simulator">Promo Scenario Builder</nwn-command-header>
    </div>
    <div class="border-b border-marsgray-200">
        <nwn-command-search [hideClose]="true" placeholder="Try typing +6"></nwn-command-search>
    </div>
    <div class="px-6 py-2 bg-white">
        <div class="w-[152px]">
            <nwn-promo-elasticity>Promo elasticity</nwn-promo-elasticity>
        </div>
    </div>
    <nwn-search-footer [showApply]="true"></nwn-search-footer>
</div>
