<div>
    <div class="flex flex-row items-center justify-between py-6">
        <div class="flex flex-row items-center space-x-3">
            <div class="flex flex-row flex-wrap border border-marsgray-300">
                <div class="p-3">
                    <nwn-toggle-cta>Absolute change</nwn-toggle-cta>
                </div>
                <div class="p-3">
                    <nwn-toggle-cta type="selected">Percentage change</nwn-toggle-cta>
                </div>
            </div>
            <div class="tableheaddrop">
                <ngx-select-dropdown
                    tabindex="0"
                    [multiple]="false"
                    [(ngModel)]="singleSelect"
                    [config]="config"
                    [options]="totalValue"
                ></ngx-select-dropdown>
            </div>
            <div class="tableheaddrop">
                <nwn-button type="tertiary" size="lg">
                    <span class="mr-20">Metrics</span>
                    <nwn-svg-icon nwnSvgIcon="chevron-down" size="lg" class="relative left-2"></nwn-svg-icon>
                </nwn-button>
            </div>
        </div>
        <div class="flex flex-row flex-wrap space-x-4">
            <div>
                <nwn-legend-items nwnLegendItems="onesquare" type="squaresm" color="bg-gray-500"
                    >Base value</nwn-legend-items
                >
            </div>
            <div>
                <nwn-legend-items nwnLegendItems="onesquare" type="squaresm" color="bg-gray-700"
                    >Simulated value</nwn-legend-items
                >
            </div>
            <div>
                <nwn-legend-items
                    nwnLegendItems="twosquare"
                    type="squaresm"
                    colorVariantFirst="bgGreenAccent"
                    colorVariantSecond="bgRed-600"
                    >Simulated value</nwn-legend-items
                >
            </div>
        </div>
    </div>
    <div
        id="kpi-table-scroll"
        class="kpi-table-scroll scrolly_table scrollbar"
        [ngStyle]="{ 'width.px': kpiTableWidth, 'height.px': kpiTableHeight }"
    >
        <table class="border border-marsgray-200 text-left">
            <thead class="bg-white">
                <tr class="bg-white whitespace-nowrap">
                    <td class="sticked freeze whitespace-nowrap bg-white" rowspan="1" colspan="1">
                        <nwn-cell-header type="subheaderlg" color="bgwhite">Metrics</nwn-cell-header>
                    </td>
                    <th colspan="1" scope="colgroup" class="sticked freeze_vertical">
                        <nwn-comparescenario-cell-header [showCHClose]="true"
                            >Galaxy promo</nwn-comparescenario-cell-header
                        >
                    </th>
                    <th colspan="1" scope="colgroup" class="sticked freeze_vertical">
                        <nwn-comparescenario-cell-header [showCHClose]="true"
                            >Galaxy promo</nwn-comparescenario-cell-header
                        >
                    </th>
                    <th colspan="1" scope="colgroup" class="sticked freeze_vertical">
                        <nwn-comparescenario-cell-header [showCHClose]="true"
                            >Galaxy promo</nwn-comparescenario-cell-header
                        >
                    </th>
                    <th colspan="1" scope="colgroup" class="sticked freeze_vertical">
                        <nwn-comparescenario-cell-header [showCHClose]="true"
                            >Galaxy promo</nwn-comparescenario-cell-header
                        >
                    </th>
                    <th colspan="1" scope="colgroup" class="sticked freeze_vertical">
                        <nwn-comparescenario-cell-header [showCHClose]="true"
                            >Galaxy promo</nwn-comparescenario-cell-header
                        >
                    </th>
                    <th colspan="1" scope="colgroup" class="sticked freeze_vertical">
                        <nwn-comparescenario-cell-header [showCHClose]="true"
                            >Galaxy promo</nwn-comparescenario-cell-header
                        >
                    </th>
                    <th colspan="1" scope="colgroup" class="sticked freeze_vertical">
                        <nwn-comparescenario-cell-header [showCHClose]="true"
                            >Galaxy promo</nwn-comparescenario-cell-header
                        >
                    </th>
                    <th colspan="1" scope="colgroup" class="sticked freeze_vertical">
                        <nwn-comparescenario-cell-header [showCHClose]="true"
                            >Galaxy promo</nwn-comparescenario-cell-header
                        >
                    </th>
                </tr>
            </thead>
            <tbody class="bg-white">
                <tr class="whitespace-nowrap bg-marsgray-100">
                    <th scope="row" colspan="100%" class="sticked freeze_horizontal">
                        <nwn-cell-header type="headersm" color="bggray-100">SalesMetrics</nwn-cell-header>
                    </th>
                </tr>
                <tr class="whitespace-nowrap">
                    <th scope="row" class="sticked freeze_horizontal">
                        <nwn-cell-header type="subheaderlg" color="bg-transparent">Units</nwn-cell-header>
                    </th>
                    <td><nwn-cell-item nwnCellItem="carret-down" color="red"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-down" color="red"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-down" color="red"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-down" color="red"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-down" color="red"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-down" color="red"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-down" color="red"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-down" color="red"></nwn-cell-item></td>
                </tr>
                <tr class="whitespace-nowrap">
                    <th scope="row" class="sticked freeze_horizontal">
                        <nwn-cell-header type="subheaderlg" color="bg-transparent">Base units</nwn-cell-header>
                    </th>
                    <td><nwn-cell-item nwnCellItem="carret-down" color="red"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-down" color="red"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-down" color="red"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-down" color="red"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-down" color="red"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-down" color="red"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-down" color="red"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-down" color="red"></nwn-cell-item></td>
                </tr>
                <tr class="whitespace-nowrap">
                    <th scope="row" class="sticked freeze_horizontal">
                        <nwn-cell-header type="subheaderlg" color="bg-transparent">Inc units</nwn-cell-header>
                    </th>
                    <td><nwn-cell-item nwnCellItem="carret-down" color="red"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-down" color="red"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-down" color="red"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-down" color="red"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-down" color="red"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-down" color="red"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-down" color="red"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-down" color="red"></nwn-cell-item></td>
                </tr>
                <tr class="whitespace-nowrap">
                    <th scope="row" class="sticked freeze_horizontal">
                        <nwn-cell-header type="subheaderlg" color="bg-transparent">Volume</nwn-cell-header>
                    </th>
                    <td><nwn-cell-item nwnCellItem="carret-down" color="red"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-down" color="red"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-down" color="red"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-down" color="red"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-down" color="red"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-down" color="red"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-down" color="red"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-down" color="red"></nwn-cell-item></td>
                </tr>
                <tr class="whitespace-nowrap bg-marsgray-100">
                    <th scope="row" colspan="100%" class="sticked freeze_horizontal">
                        <nwn-cell-header type="headersm" color="bggray-100">Mars Metrics</nwn-cell-header>
                    </th>
                </tr>
                <tr class="whitespace-nowrap">
                    <th scope="row" class="sticked freeze_horizontal">
                        <nwn-cell-header type="subheaderlg" color="bg-transparent">LSV</nwn-cell-header>
                    </th>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                </tr>
                <tr class="whitespace-nowrap">
                    <th scope="row" class="sticked freeze_horizontal">
                        <nwn-cell-header type="subheaderlg" color="bg-transparent">NSV</nwn-cell-header>
                    </th>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                </tr>
                <tr class="whitespace-nowrap">
                    <th scope="row" class="sticked freeze_horizontal">
                        <nwn-cell-header type="subheaderlg" color="bg-transparent">MAC</nwn-cell-header>
                    </th>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                </tr>
                <tr class="whitespace-nowrap">
                    <th scope="row" class="sticked freeze_horizontal">
                        <nwn-cell-header type="subheaderlg" color="bg-transparent">MAC, %NSV</nwn-cell-header>
                    </th>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                </tr>
                <tr class="whitespace-nowrap">
                    <th scope="row" class="sticked freeze_horizontal">
                        <nwn-cell-header type="subheaderlg" color="bg-transparent">Trade expense</nwn-cell-header>
                    </th>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                </tr>
                <tr class="whitespace-nowrap">
                    <th scope="row" class="sticked freeze_horizontal">
                        <nwn-cell-header type="subheaderlg" color="bg-transparent">TE, % LSV</nwn-cell-header>
                    </th>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                </tr>
                <tr class="whitespace-nowrap">
                    <th scope="row" class="sticked freeze_horizontal">
                        <nwn-cell-header type="subheaderlg" color="bg-transparent">TE / Unit</nwn-cell-header>
                    </th>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                </tr>
                <tr class="whitespace-nowrap">
                    <th scope="row" class="sticked freeze_horizontal">
                        <nwn-cell-header type="subheaderlg" color="bg-transparent">ROI</nwn-cell-header>
                    </th>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                </tr>
                <tr class="whitespace-nowrap">
                    <th scope="row" class="sticked freeze_horizontal">
                        <nwn-cell-header type="subheaderlg" color="bg-transparent">Lift %</nwn-cell-header>
                    </th>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                </tr>
                <tr class="whitespace-nowrap bg-marsgray-100">
                    <th scope="row" colspan="100%" class="sticked freeze_horizontal">
                        <nwn-cell-header type="headersm" color="bggray-100">Retailer Metrics</nwn-cell-header>
                    </th>
                </tr>
                <tr class="whitespace-nowrap">
                    <th scope="row" class="sticked freeze_horizontal">
                        <nwn-cell-header type="subheaderlg" color="bg-transparent">ASP</nwn-cell-header>
                    </th>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                </tr>
                <tr class="whitespace-nowrap">
                    <th scope="row" class="sticked freeze_horizontal">
                        <nwn-cell-header type="subheaderlg" color="bg-transparent">Promo ASP</nwn-cell-header>
                    </th>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                </tr>
                <tr class="whitespace-nowrap">
                    <th scope="row" class="sticked freeze_horizontal">
                        <nwn-cell-header type="subheaderlg" color="bg-transparent">RSV w/o VAT</nwn-cell-header>
                    </th>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                </tr>
                <tr class="whitespace-nowrap">
                    <th scope="row" class="sticked freeze_horizontal">
                        <nwn-cell-header type="subheaderlg" color="bg-transparent">Customer Margin</nwn-cell-header>
                    </th>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                </tr>
                <tr class="whitespace-nowrap">
                    <th scope="row" class="sticked freeze_horizontal">
                        <nwn-cell-header type="subheaderlg" color="bg-transparent"
                            >Customer Margin,%RSV</nwn-cell-header
                        >
                    </th>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                    <td><nwn-cell-item nwnCellItem="carret-up" color="green"></nwn-cell-item></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
