<div class="bg-white flex flex-col space-y-2 w-full">
    <div class="flex flex-row space-x-2 justify-between items-center">
        <p class="text-marsgray-700 text-body-standard">Promo scenario name</p>
        <div class="">
            <nwn-button
                type="icon"
                size="iconsm"
                [ngClass]="{
                    hidden: showInfo == false
                }"
            >
                <nwn-svg-icon type="stroke" nwnSvgIcon="info" size="md" class="text-gray-700"></nwn-svg-icon>
            </nwn-button>
            <nwn-button
                type="icon"
                size="iconsm"
                [ngClass]="{
                    hidden: showTrash == false
                }"
            >
                <nwn-svg-icon type="stroke" nwnSvgIcon="trash" size="md" class="text-gray-700"></nwn-svg-icon>
            </nwn-button>
            <nwn-checkbox
                [ngClass]="{
                    hidden: showCheckbox == false
                }"
            ></nwn-checkbox>
        </div>
    </div>
    <p class="text-marsgray-500 text-body-standard">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nisi enim ultrices eget donec in nunc, mi nisl elit.
        Nibh proin vitae faucibus tempor mauris, justo. Turpis adipiscing egestas.
    </p>
</div>
