<div class="bg-marsgray-100 px-12">
    <div class="flex flex-row items-center justify-between space-x-12 border-b border-gray-300">
        <div class="flex flex-row flex-wrap content-start items-center justify-start">
            <div class="m-1">
                <nwn-filter-item type="stroke" nwnSvgIcon="retailers">223 retailers</nwn-filter-item>
            </div>
            <div class="m-1">
                <nwn-filter-item type="stroke" nwnSvgIcon="categories">223 categories</nwn-filter-item>
            </div>
            <div class="m-1">
                <nwn-filter-item type="stroke" nwnSvgIcon="strategic-cells">223 strategic cells</nwn-filter-item>
            </div>
            <div class="m-1">
                <nwn-filter-item type="stroke" nwnSvgIcon="brands">223 brands</nwn-filter-item>
            </div>
            <div class="m-1">
                <nwn-filter-item type="stroke" nwnSvgIcon="brand-formats">223 brand formats</nwn-filter-item>
            </div>
            <div class="m-1">
                <nwn-filter-item type="stroke" nwnSvgIcon="product-groups">232 product groups</nwn-filter-item>
            </div>
        </div>
        <div>
            <nwn-loaded-scenarioitem></nwn-loaded-scenarioitem>
        </div>
    </div>
    <div class="flex flex-row flex-wrap items-center justify-between space-x-2 border-b border-gray-300">
        <!-- <nwn-promo-elasticity>Promo elasticity</nwn-promo-elasticity>
        <div class="flex flex-row items-center space-x-4">
            <div class="flex flex-row items-center">
                <div class="bg-marsgray-700 w-5 h-5 mr-2"></div>
                <p class="text-body text-marsgray-500">Input metric</p>
            </div>
            <div class="flex flex-row items-center">
                <div class="bg-yellow-200 w-5 h-5 mr-2"></div>
                <p class="text-body text-marsgray-500">Baseline metric</p>
            </div>
        </div> -->
    </div>
    <nwn-loaded-scenario-controls></nwn-loaded-scenario-controls>
</div>
