<nwn-loaded-optimizer-header (modalEvent)="receiveMessage($event)"></nwn-loaded-optimizer-header>

<div>
    <nwn-summary-placeholder *ngIf="!isOptimiserFilterApplied"></nwn-summary-placeholder>
    <nwn-promo-optimizer-aggregated *ngIf="isOptimiserFilterApplied" (modalEvent)="receiveMessage($event)"></nwn-promo-optimizer-aggregated>
</div>

<!-- Modals -->
<!-- Filter Retailer -->
<nwn-modal id="filter-retailer" class="hidden">
    <nwn-filter-retailer (closeModal)="close($event)" (retailerChange) = "retailerChange($event)" [retailers] = "retailers"></nwn-filter-retailer>
</nwn-modal>
<!-- Filter Category -->
<nwn-modal id="filter-categories" class="hidden">
    <nwn-filter-categories (closeModal)="close($event)" (categoryChange) = "categoryChange($event)" [categories] = "categories"></nwn-filter-categories>
</nwn-modal>
<!-- Filter Strategic Cell -->
<nwn-modal id="filter-stragetic-cells" class="hidden">
    <nwn-filter-stragetic-cells (closeModal)="close($event)" (strategicCellChange) = "strategicCellChange($event)" [stragetic_cells] = "strategic_cell"></nwn-filter-stragetic-cells>
</nwn-modal>
<!-- Filter Brands -->
<nwn-modal id="filter-brands" class="hidden">
    <nwn-filter-brands (closeModal)="close($event)" (brandChange) = "brandChange($event)"  [brands] = "brands"></nwn-filter-brands>
</nwn-modal>
<!-- Filter Brand Formats -->
<nwn-modal id="filter-brand-formats" class="hidden">
    <nwn-filter-brands-formats (closeModal)="close($event)" (brandFormatChange) = "brandFormatChange($event)" [brand_formats] = "brands_format"></nwn-filter-brands-formats>
</nwn-modal>
<!-- Filter Product Groups -->
<nwn-modal id="filter-product-groups" class="hidden">
    <nwn-filter-product-groups (closeModal)="close($event)" (productChange) = "productChange($event)" [product_groups] = "product_group"></nwn-filter-product-groups>
</nwn-modal>
<!-- Add Promotions -->
<nwn-modal id="add-promotion" class="hidden">
    <nwn-add-promotion></nwn-add-promotion>
</nwn-modal>
<!-- compare scenario -->
<nwn-modal id="compare-scenario-popup" class="hidden">
    <nwn-compare-scenario-popup></nwn-compare-scenario-popup>
</nwn-modal>
<!-- compare-promo-scenario -->
<nwn-modal id="compare-promo-scenario" class="hidden">
    <nwn-compare-promo-scenario></nwn-compare-promo-scenario>
</nwn-modal>
<!-- load scenario promosimulator -->
<nwn-modal id="load-scenario-promosimulator" class="hidden">
    <nwn-load-scenario-promosimulator></nwn-load-scenario-promosimulator>
</nwn-modal>
<!-- pricing scenario -->
<nwn-modal id="pricing-scenario" class="hidden">
    <nwn-pricing-scenario></nwn-pricing-scenario>
</nwn-modal>
<!-- number promo waves -->
<nwn-modal id="number-promo-waves" class="hidden">
    <nwn-number-promo-waves></nwn-number-promo-waves>
</nwn-modal>
<!-- promotion details -->
<nwn-modal id="promotion-details" class="hidden">
    <nwn-promotion-details></nwn-promotion-details>
</nwn-modal>

<!-- optimizer function-->
<nwm-modal id="objective-function" class="hidden">
    <nwn-optimize-function></nwn-optimize-function>
</nwm-modal>
<!-- Duration of waves -->
<nwn-modal id="duration-of-waves" class="hidden">
    <nwn-duration-promo-waves></nwn-duration-promo-waves>
</nwn-modal>
<!-- Min gap between waves -->
<nwn-modal id="minimum-gap-waves" class="hidden">
    <nwn-minimum-gap-waves></nwn-minimum-gap-waves>
</nwn-modal>
<!-- Number of promo weeks -->
<nwn-modal id="number-promo-waves" class="hidden">
    <nwn-number-promo-waves></nwn-number-promo-waves>
</nwn-modal>
<!-- Compulsory Weeks -->
<nwn-modal id="compulsory-weeks-popup" class="hidden">
    <nwn-compulsory-weeks-popup></nwn-compulsory-weeks-popup>
</nwn-modal>
<!-- Weeks Ignored-->
<nwn-modal id="weeks-ignored" class="hidden">
    <nwn-weeks-ignored></nwn-weeks-ignored>
</nwn-modal>
<!-- nwn-mac-popup -->
<nwn-modal id="mac-popup" class="hidden">
    <nwn-mac-popup></nwn-mac-popup>
</nwn-modal>