<div class="w-[650px] bg-white mx-auto my-6">
    <div class="border-b border-marsgray-200">
        <nwn-command-header type="stroke" nwnSvgIcon="adjustments">Promo Simulator scenario</nwn-command-header>
    </div>
    <div class="h-auto bg-white">
        <div class="px-6 py-4 bg-white">
            <nwn-scenario-load-card>
                <p slcHead>{{scenario_name}}</p>
                <p slcContent>
                    {{scenario_comment}}
                </p>
            </nwn-scenario-load-card>
        </div>
    </div>
    <nwn-search-footer [showClose]="true"></nwn-search-footer>
</div>
