<div class="flex flex-col">
    <div class="flex flex-col space-y-6 border-b border-marsgray-200 pb-6">
        <nwn-menu-item type="stroke" nwnSvgIcon="pricing-tool" href="/">Pricing tool</nwn-menu-item>
        <nwn-menu-item type="stroke" nwnSvgIcon="promo-tool" [active]="true" href="/">Promo tool</nwn-menu-item>
    </div>
    <div class="flex flex-col space-y-6 pt-6">
        <nwn-menu-item type="stroke" nwnSvgIcon="profit-tool" href="/">Profit tool</nwn-menu-item>
        <nwn-menu-item type="stroke" nwnSvgIcon="pricing-capabilities" href="/">Pricing Capabilities</nwn-menu-item>
        <nwn-menu-item type="stroke" nwnSvgIcon="srm-insight" href="/">SRM insights</nwn-menu-item>
    </div>
</div>
