<div class="w-[650px]">
    <div class="border-b border-marsgray-200">
        <nwn-command-header type="fill" nwnSvgIcon="optimizer">Promo optimizer</nwn-command-header>
    </div>
    <div class="border-b border-marsgray-200">
        <nwn-command-search [hideClose]="true"></nwn-command-search>
    </div>
    <div>
        <nwn-command-iconitem type="stroke" nwnSvgIcon="variables" [hideTick]="true"
            >Set optimize function</nwn-command-iconitem
        >
        <nwn-command-iconitem type="stroke" nwnSvgIcon="filter" [hideTick]="true">Set filters</nwn-command-iconitem>
        <nwn-command-iconitem type="stroke" nwnSvgIcon="categories" [hideTick]="true"
            >Set number of promo waves</nwn-command-iconitem
        >
        <nwn-command-iconitem type="stroke" nwnSvgIcon="adjustments" [hideTick]="true"
            >Set duration of promo waves</nwn-command-iconitem
        >
        <nwn-command-iconitem type="stroke" nwnSvgIcon="adjustments" [hideTick]="true"
            >Set minimum gap between promo waves</nwn-command-iconitem
        >
        <nwn-command-iconitem type="stroke" nwnSvgIcon="adjustments" [hideTick]="true"
            >Set number of promo weeks</nwn-command-iconitem
        >
        <nwn-command-iconitem type="stroke" nwnSvgIcon="adjustments" [hideTick]="true"
            >Set compulsory weeks</nwn-command-iconitem
        >
        <nwn-command-iconitem type="stroke" nwnSvgIcon="adjustments" [hideTick]="true"
            >Set weeks to be ignored</nwn-command-iconitem
        >
        <nwn-command-iconitem type="stroke" nwnSvgIcon="adjustments" [hideTick]="true"
            >Set promotion details</nwn-command-iconitem
        >
    </div>
    <nwn-search-footer [showKeyBoardCtrl]="true"></nwn-search-footer>
</div>
