<div class="bg-white arrow_box w-[320px]">
    <div class="bg-marsgray-100 py-1 px-4">
        <p class="text-marsgray-700 text-caption">Promo Optimizer scenario</p>
    </div>
    <div class="flex flex-col px-4 py-3">
        <div class="text-caption text-marsgray-700 font-normal">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nisi enim ultrices eget donec in nunc, mi nisl
            elit. Nibh proin vitae faucibus tempor mauris, justo. Turpis adipiscing egestas.
        </div>
    </div>
    <div class="flex flex-row flex-wrap pb-3 px-4">
        <div class="mr-1 mb-1">
            <nwn-filter-item size="smallValue">223 retailers</nwn-filter-item>
        </div>
        <div class="mr-1 mb-1">
            <nwn-filter-item size="smallValue">Chocolate</nwn-filter-item>
        </div>
        <div class="mr-1 mb-1">
            <nwn-filter-item size="smallValue">All brands</nwn-filter-item>
        </div>
        <div class="mr-1 mb-1">
            <nwn-filter-item size="smallValue">All stragetic cells</nwn-filter-item>
        </div>
        <div class="mr-1 mb-1">
            <nwn-filter-item size="smallValue">Galaxy silk</nwn-filter-item>
        </div>
        <div class="mr-1 mb-1">
            <nwn-filter-item size="smallValue">232 product groups</nwn-filter-item>
        </div>
    </div>
</div>
