@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* You can add global styles to this file, and also import other style files */
input[type='checkbox'] + svg {
    display: none;
    left: 2px;
    top: 3px;
}
input[type='checkbox']:checked + svg {
    display: block;
}
