@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
.right-area {
    width: calc(100% - 50px);
}
.nwn-modal-open {
    @apply overflow-hidden;
}
/* You can add global styles to this file, and also import other style files */
input[type='checkbox'] + svg {
    display: none;
    left: 2px;
    top: 3px;
}
input[type='checkbox']:checked + svg {
    display: block;
}

/*Scroll bar*/
.scrollbar-y {
    overflow-y: scroll;
    overflow-x: hidden;
}
.scrollbar {
    overflow-y: scroll;
    overflow-x: scroll;
}
.scrollbar-x {
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
}
.scrollbar-y.okrs-objectives {
    visibility: hidden;
}
.scrollbar:hover,
.scrollbar:focus,
.scrollbar-y:hover,
.scrollbar-y:focus,
.scrollbar-yx:hover,
.scrollbar-x:focus {
    visibility: visible;
}
.scrollbar-y.okrs-objectives ul {
    visibility: visible;
}
.scrollbar::-webkit-scrollbar-track,
.scrollbar-y::-webkit-scrollbar-track,
.scrollbar-x::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
}
.scrollbar::-webkit-scrollbar,
.scrollbar-y::-webkit-scrollbar,
.scrollbar-x::-webkit-scrollbar {
    width: 6px;
    background-color: #f5f5f5;
}
.scrollbar::-webkit-scrollbar-thumb,
.scrollbar-y::-webkit-scrollbar-thumb,
.scrollbar-x::-webkit-scrollbar-thumb {
    background-color: #a5a5a5;
    border: 2px solid #a5a5a5;
}
.scrollbar::-webkit-scrollbar,
.scrollbar-x::-webkit-scrollbar {
    height: 6px;
}
.scroll-x-axis {
    width: 100%;
    overflow-y: hidden;
}
/* table freeze */

table,
th,
tr,
td,
thead,
tbody,
.sticked.freeze_horizontal {
    @apply p-0 outline-marsgray-1;
}
table,
th,
tr,
thead,
tbody,
td {
    border-collapse: separate !important;
    border-spacing: 0px !important;
}
.scrolly_table {
    white-space: nowrap;
    overflow: auto;
}

.sticked.freeze {
    z-index: 10;
    position: relative;
    background-color: #fff;
}

.sticked.freeze_vertical {
    z-index: 5;
    position: relative;
    background-color: #fff;
}

.sticked.freeze_horizontal {
    z-index: 1;
    position: relative;
    background-color: #fff;
}
