<div class="w-[650px]">
    <nwn-command-header type="stroke" nwnSvgIcon="brand-formats">Filter by brands formats</nwn-command-header>
    <nwn-command-search [hideClose]="true"></nwn-command-search>
    <div>
        <nwn-command-multiselect [leftBorder]="false" [hideClose]="true">Galaxy Silk</nwn-command-multiselect>
        <nwn-command-multiselect [leftBorder]="false" [hideClose]="true">Galaxy Silk</nwn-command-multiselect>
        <nwn-command-multiselect [leftBorder]="false" [hideClose]="true">Galaxy Silk</nwn-command-multiselect>
        <nwn-command-multiselect [leftBorder]="false" [hideClose]="true">Galaxy Silk</nwn-command-multiselect>
        <nwn-command-multiselect [leftBorder]="false" [hideClose]="true">Galaxy Silk</nwn-command-multiselect>
        <nwn-command-multiselect [leftBorder]="false" [hideClose]="true">Galaxy Silk</nwn-command-multiselect>
    </div>
    <nwn-search-footer [hideApply]="false" [hideBack]="true" [hideLoad]="true"></nwn-search-footer>
</div>
