<div class="weeklyPromo flex flex-col p-4 hover:bg-marsgray-200">
    <p class="text-marsyellow-800 text-caption font-normal mb-1">TRP-10% (Co-20%)</p>
    <div class="weeklyPromoDropdown">
        <ngx-select-dropdown
            tabindex="0"
            [multiple]="false"
            [(ngModel)]="singleSelect"
            [config]="config"
            [options]="optionsWeeklyPromotion"
        ></ngx-select-dropdown>
    </div>
    <p class="text-marsgray-400 text-caption font-normal mt-1">Week 1</p>
</div>
